@font-face {
	font-family: albertusnova;
	font-display: swap;
	src: url("../fonts/albertusnova.woff2") format("woff2"), url("../fonts/albertusnova.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: albertusnovalight;
	font-display: swap;
	src: url("../fonts/albertusnovalight.woff2") format("woff2"), url("../fonts/albertusnovalight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: albertusnovathin;
	font-display: swap;
	src: url("../fonts/albertusnovathin.woff2") format("woff2"), url("../fonts/albertusnovathin.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: CirceSlabC;
	font-display: swap;
	src: url("../fonts/CirceSlabC-Medium.woff2") format("woff2"), url("../fonts/CirceSlabC-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
