// Заголовки, общие БЭМ блоки и прочее

// Accessibility for screen reader

// .visually-hidden {
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	margin: -1px;
// 	padding: 0;
// 	overflow: hidden;
// 	border: 0;
// 	clip: rect(0 0 0 0);
// }
// <label for="email" class="visually-hidden">Email:</label>
// <input id="email" type="text" class="form__input" placeholder="Email address">
.text1 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: rem(14);
	line-height: rem(20);
	color: #FFFFFF;
}

.text2 {
	font-family: 'Albertus Nova';
	font-weight: 200;
	font-size: rem(24);
	line-height: rem(33);
	color: #2D2D2D;
	@media (max-width: em(375)) {
		font-size: rem(20);
		line-height: rem(27);
	}
}

.socials {
	display: flex;
	column-gap: rem(24);
	&__social {
		svg {
			display: block;
			width: rem(20);
			height: rem(20);
		}
	}
}

.main-screen {
	position: relative;
	&__bg {
		width: 100%;
		max-height: rem(620);
		height: 100%;
		object-fit: cover;
	}
	
	&__logo-container {
		position: absolute;
		z-index: 6;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		@include adaptive-value("max-width", 669, 232, 0);
		@include adaptive-value("max-height", 427, 148, 0);
	}

	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000000, 15%);
		z-index: 5;
	}

	&__icon {
		position: absolute;
		z-index: 100;
		bottom: rem(43);
		left: 50%;
		transform: translateX(-50%);
		width: rem(22);
		height: rem(22);
		border: 2px solid $color-white;
		border-radius: 100%;
		background-color: transparent;
		box-sizing: content-box;
		cursor: pointer;
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 56%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-left: rem(5.5) solid transparent;
			border-right: rem(5.5) solid transparent;
			border-top: rem(7.57) solid $color-white;
			border-radius: rem(3);
		}
	}
}
