// Заголовки, общие БЭМ блоки и прочее

// Accessibility for screen reader

// .visually-hidden {
// 	position: absolute;
// 	width: 1px;
// 	height: 1px;
// 	margin: -1px;
// 	padding: 0;
// 	overflow: hidden;
// 	border: 0;
// 	clip: rect(0 0 0 0);
// }
// <label for="email" class="visually-hidden">Email:</label>
// <input id="email" type="text" class="form__input" placeholder="Email address">
.hide {
	display: block;
}

.color-gray-200 {
	color: $color-gray-200;
}

.reverse {
	flex-direction: row-reverse;
}

.tac {
	text-align: center;
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	padding: 10px 9px 8px;
	border: 2px solid transparent;
	@include anim(.3s, 0s);

	&--default {
		color: $color-white;
		background-color: $color-red;
		width: 138px;
		&:hover {
			background-color: transparent;
			border: 2px solid #2D2D2D;
			color: $color-black;
		}
	}
	&--transparent {
		background-color: transparent;
		color: #2D2D2D;
		border: 1px solid #2D2D2D;
		width: 138px;
	}

	&--transparent-small {
		width: 100px;
		padding: 7px 7px 4px;
		&:hover {
			background-color: $color-red;
			color: $color-white;
			border-color: transparent;
		}
	}

	&--empty {
		width: 138px;
	}
	&--underline {
		border-bottom: 1px solid #2D2D2D;
		border-radius: 0;
		padding: 0px 0px 1px 0px;
	}

}

.text1 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 14px;
	line-height: math.div(20, 14);
	color: $color-white;
}

.text2 {
	font-family: 'Albertus Nova';
	font-weight: 200;
	font-size: 24px;
	line-height: math.div(33, 24);
	color: $color-black;
	@media (max-width: em($breakpoint375)) {
		font-size: 20px;
		line-height: math.div(27, 20);
	}
}

.text3 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 26px;
	line-height: math.div(22, 26);
	color: #2D2D2D;
	@media (max-width: em($breakpoint375)) {
		font-size: 24px;
		line-height: math.div(22, 24);
	}
}

.text4 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 22px;
	line-height: math.div(30, 20);
	color: #2D2D2D;
	@media (max-width: em($breakpoint375)) {
		font-size: 20px;
		line-height: math.div(28, 20);
	}
}

.text5 {
	font-family: 'Albertus Nova';
	font-weight: 200;
	font-size: 16px;
	line-height: math.div(23, 16);
	color: #2D2D2D;
}

.text6 {
	font-family: 'Albertus Nova';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: math.div(32, 30);
	color: #2D2D2D;
	@media (max-width: em($breakpoint375)) {
		font-size: 24px;
		line-height: math.div(33, 24);
	}
}

.text7 {
	font-family: 'Albertus Nova';
	font-weight: 400; 
	font-size: 16px;
	line-height: math.div(22, 16);
	color: #FFFFFF;
}

.text8 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 16px;
	line-height: math.div(22, 16);
	color: #2D2D2D;
}

.text9 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 18px;
	line-height: math.div(25, 18);
	color: #FF1E00;
}

.text10 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 16px;
	line-height: math.div(22, 16);
	color: #2D2D2D;
}

.text11 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
}

.text12 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 40px;
	line-height: 55px;
	color: #FFFFFF;

	@include adaptive-value('font-size', 40, 24, 768, 375, 1);
	@include adaptive-value('line-height', 55, 33, 768, 375, 1);
}

.text13 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 32px;
	line-height: 44px;
	color: #FFFFFF;
	@include adaptive-value('font-size', 28, 20, 768, 375, 1);
	@include adaptive-value('line-height', 39, 28, 768, 375, 1);
}

.text14 {
	font-family: 'Albertus Nova';
	font-weight: 200;
	font-size: 14px;
	line-height: 19px;
	color: #2D2D2D;
}

.text15 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #2D2D2D;
}

.text16 {
	font-family: 'Circe Slab C';
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #FFFFFF;
}

.text17 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: #989898;
}

.text18 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
}

.text19 {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
}

.text20 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
}

.text21 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 12px;
	line-height: 17px;
	color: #2D2D2D;
}

.text22 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #2D2D2D;
}

.text23 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #2D2D2D;
}

.text24 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 12px;
	line-height: 21px;
	color: #2D2D2D;
}

.text25 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text26 {
	font-family: 'Albertus Nova';
	font-weight: 300;
	font-size: 18px;
	line-height: 25px;
	color: #2D2D2D;
}

.text27 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text28 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
}

.text29 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #989898;
}

.text30 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 30px;
	color: #FFFFFF;
	line-height: 42px;
	text-transform: uppercase;
	@media (max-width: em($breakpoint768)) {
		font-size: 24px;
		line-height: 32px;
	}
}

.text31 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	@media (max-width: em($breakpoint768)) {
		font-size: 16px;
		line-height: 20px;
	}
}

.text32 {
	font-family: 'Circe Slab C';
	font-weight: 500;
	font-size: 32px;
	line-height: 34px;
	color: #2D2D2D;
}

.text33 {
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #2D2D2D;
}

.text34 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text35 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text36 {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 20px;
	line-height: 23px;
	color: #989898;
}

.text37 {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
}

.text38 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}

.text39 {		
	font-family: 'Albertus Nova';
	font-weight: 400;
	font-size: 30px;
	line-height: 42px;
	color: #2D2D2D;
}

.text40 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #2D2D2D;
}

.text41 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text42 {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text43 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #2D2D2D;
}

.text44 {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	color: #989898;
}

.text45 {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #2D2D2D;
}

.socials {
	display: flex;
	column-gap: 24px;
	&__item {
	}

	&__social {
		@include anim(.3s, 0s);
		display: block;
		max-width: 24px;
		max-height: 24px;
		
		svg {
			max-width: 24px;
			max-height: 24px;
			fill: $color-white;
			use {
				width: 100%;
				height: auto;
				will-change: transform;
			}
		}
		&:hover {
			transform: scale(1.2);
			@include anim(.3s, 0s);
		}
	}
	
}

.icons {
	display: flex;
	column-gap: 8px;
	&__item {
		display: block;
		max-width: 24px;
		max-height: 24px;
		cursor: pointer;
		svg {
			max-width: 24px;
			max-height: 24px;
			fill: $color-black;
			use {
				width: 100%;
				height: auto;

			}
		}
	}
}

.main-screen {
	position: relative;
	&__bg {
		width: 100%;
		max-height: 620px;
		height: 100%;
		@include adaptive-value("height", 620, 330, 1440, 768, 1);
		@include adaptive-value("height", 330, 280, 768, 375, 1);
		object-fit: cover;
	}
	
	&__mini-logo {
	}

	&__mini-logo-link {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-height: 100px;
		max-width: 157px;
		height: 100%;
		@include adaptive-value('width', 157, 110, 1440, 768, 1);
		@include adaptive-value('height', 100, 70, 1440, 768, 1);

		@include adaptive-value('width', 110, 63, 768, 375, 1);
		@include adaptive-value('height', 70, 40, 768, 375, 1);
		img {
			width: 100%;
			height: auto;
		}
		@media (max-width: em($breakpoint375)) {
			margin-top: 4px;
		}
	}

	&__logo-container {
		position: absolute;
		z-index: 6;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		max-width: 669px;
		max-height: 427px;
		@include adaptive-value("width", 669, 344, 1440, 768, 1);
		@include adaptive-value("height", 427, 219, 1440, 768, 1);
		@include adaptive-value("width", 344, 232, 768, 375, 1);
		@include adaptive-value("height", 219, 148, 768, 375, 1);
	}

	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000000, 15%);
		z-index: 5;
	}

	&__icon {
		position: absolute;
		z-index: 100;
		bottom: 43px;
		left: 50%;
		transform: translateX(-50%);
		width: 22px;
		height: 22px;
		border: 2px solid $color-white;
		border-radius: 100%;
		background-color: transparent;
		box-sizing: content-box;
		cursor: pointer;
		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 56%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-left: 5.5px solid transparent;
			border-right: 5.5px solid transparent;
			border-top: 7.57px solid $color-white;
			border-radius: 3px;
		}
		@media (max-width: em($breakpoint768)) {
			bottom: 27px;
		}
		@media (max-width: em($breakpoint375)) {
			bottom: 19px;
		}
	}
}

.bg-position {
	max-height: 500px;
	@include adaptive-value("height", 500, 266, 1440, 768, 1);
	@include adaptive-value("height", 266, 130, 768, 375, 1);
	@media (max-width: em($breakpoint1400)) {
		object-fit: contain;
	}
	@media (max-width: em($breakpoint375)) {
		object-fit: cover;
	}
}

.merch-card {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	border-radius: 10px;
	padding: 12px 12px 16px;
	@include adaptive-value('padding-top', 12, 0, 768, 375, 1);
	@include adaptive-value('padding-bottom', 16, 0, 768, 375, 1);
	@include adaptive-value('padding-right', 12, 0, 768, 375, 1);
	@include adaptive-value('padding-left', 12, 0, 768, 375, 1);
	@media (max-width: em($breakpoint375)) {
		outline: transparent;
	}
	&__hot-offer {
		position: absolute;
		top: 12px;
		left: 12px;
	}

	&__image {
		display: flex;
		flex: 1 0 auto;
		img {
			max-height: 260px;
			width: 100%;
			object-fit: contain;
			height: auto;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		flex: 0 0 68px;
		justify-content: space-between;
		row-gap: 8px;
		@media (max-width: em($breakpoint768)) {
			flex: 0 0 75px;
		}
		@media (max-width: em($breakpoint375)) {
			flex: 0 0 84px;
		}
	}

	&__title {
	}

	&__price-block {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}

	&__price {
	}

	&__discount {
	}
	@media (min-width: em($breakpoint375)) {
		border: 1px solid #989898;
	}
}

.hot-offer {
	display: inline-block;
	max-width: 56px;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	background-color: $color-green;
	padding: 7px;
	&--red {
		background-color: $color-red;
	}
}

.nav-button {
	position: relative;
	display: inline-block;
	width: 32px !important;
	height: 32px !important;
	border-radius: 100%;
	background-color: rgba($color-white, 60%);
	&::before {
		content: '';
		position: absolute;
		width: 9px;
		height: 18px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: url('../img/arrow.svg') 50% 50% no-repeat;
	}
	&--prev {
		transform: rotate(180deg);
	}
	&--next {
		
	}
}

.release {
	@media (max-width: em($breakpoint768)) {
		.container {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__text-header {
		margin-bottom: 24px;
		@media (max-width: em($breakpoint768)) {
			padding-left: 28px;
			padding-right: 28px;
		}
		@media (max-width: em($breakpoint375)) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	
	&__swiper {
	}
}

.release-swiper {
	margin: 0 -12px !important;
	&__items {
		display: flex;
		width: auto !important;
	}

	&__container-item {
		padding: 0 12px;
		flex: 0 1 16.667%;
		@media (max-width: em($breakpoint768)) {
			flex: 0 0 23.25%;
		}
		@media (max-width: em($breakpoint375)) {
			flex: 0 0 44.5%;
			padding: 0 5px;
		}
	}

	&__item {
		height: 100%;
	}

	&__navigation {
		display: none;
		@media (max-width: em($breakpoint768)) {
			display: block;
		}
	}

	&__button-prev {
		position: absolute;
		left: 22px !important;
		margin: 0 !important;
		transform: translateY(-50%) rotate(180deg);
	}

	&__button-next {
		position: absolute;
		right: 22px !important;
		margin: 0 !important;
		transform: translateY(-50%);
	}
}

.release-item {
	position: relative;
	&:hover {
		.release-item__mask {
			opacity: 1;
			@include anim(.3s, 0s);
		}
	}
	
	&__mask {
		display: block;
		position: absolute;
		z-index: 50;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		border-radius: 10px;
		opacity: 0;
		@include anim(.3s, 0s);
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		text-align: center;
		@media (max-width: em($breakpoint768)) {
			top: 20px;
			transform: translateX(-50%);
		}
		@media (min-width: em($breakpoint768)) {
			transform: translate(-50%, -50%);
		}
	}

	&__content-name {
	}

	&__content-year {
	}

	&__content-bottom {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__content-text {
		white-space: nowrap;
		margin-bottom: 7px;
		@media (max-width: em($breakpoint480)) {
			display: none;
		}
	}

	&__content-socials {
		align-items: center;
		justify-content: center;
		column-gap: 8px;
	}

	&__image {	
		display: block;
		position: relative;
		padding-bottom: 100%;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
		}
	}
}

.video-block {
	overflow: hidden;
	border-radius: 10px;
	padding-top: 56.25%;
	width: 100%;
	position: relative;
	cursor: pointer;
	&:hover {
		.video-block__bg {
			transform: scale(1.1);
			@include anim(.8s, 0s);
		}
	}
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 100;
		border-radius: 10px;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__icon-play {
		display: block;
		max-width: 64px;
		max-height: 64px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		svg {
			width: 100%;
			height: auto;
			cursor: pointer;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		@include anim(.8s, 0s);
		will-change: transform;
	}
}

.gallery-image {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	&:hover {
		.gallery-image__photo {
			transform: scale(1.1);
			@include anim(.8s, 0s);
		}
	}

	&__bg {
	}

	&__photo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		object-fit: cover;
		@include anim(.8s, 0s);
		will-change: transform;
	}

	&__image-info {
	}

	&__count-link {
		position: absolute;
		right: 16px;
		top: 16px;
		@include adaptive-value('right', 16, 8, 992, 375, 1);
		@include adaptive-value('top', 16, 8, 992, 375, 1);
	}

	&__link-bottom {
		position: absolute;
		left: 50%;
		bottom: 0px;
		transform: translateX(-50%);
		text-align: center;
		max-width: 255px;
		padding: 16px;
		width: 100%;
		@include adaptive-value('padding', 16, 8, 992, 375, 1);
	}

	&__photo-text {
	}

}

.photos-count {
	text-align: center;
	@media (max-width: em($breakpoint480)) {
		display: flex;
		align-items: center;
		column-gap: 4px;
	}
	&__count {
		@media (max-width: em($breakpoint480)) {
			font-size: 14px;
			line-height: 21px;
			color: #2D2D2D;
			font-weight: 400;
		}
	}

	&__text {
		@media (max-width: em($breakpoint480)) {
			font-size: 14px;
			line-height: 21px;
			color: #2D2D2D;
		}
	}
}

.novelties-item {
	display: flex;
	flex-direction: column;
	&__header {
		flex: 1 1 auto;
	}

	&__image {
		display: block;
		padding-bottom: 67.4%;
		border-radius: 10px;
		margin-bottom: 16px;
	}

	&__title {
		margin-bottom: 4px;
	}

	&__text {
		margin-bottom: 12px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__date {
	}

	&__button {
	}

	&__button-link {
	}
}

.icon {
	display: block;
	max-width: 24px;
	max-height: 24px;
	svg {
		max-width: 24px;
		max-height: 24px;
		fill: $color-black;
		use {
			width: 100%;
			height: auto;
		}
	}
}

.contact-mini-block {
	display: flex;
	align-items: center;
	column-gap: 8px;
}

