.header {
	position: fixed;
	z-index: 100;
	width: 100%;
	&__content {
	}

	&__menu {
	}

	&__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}

	&__socials {
		position: absolute;
		right: 60px;
		top: 40px;
		@media (max-width: em($breakpoint768)) {
			display: none;
		}
	}
}

.menu {
	display: flex;
	flex-direction: column;
	&._active {
		.menu__body {
			transform: translate3d(0, 0, 0);
			@include anim(.3s, 0s);
		}
	}
	&__menu {
		display: flex;
		column-gap: 10px;
		align-items: center;
		position: absolute;
		top: 34px;
		left: 60px;
		@media (max-width: em($breakpoint768)) {
			top: 12px;
			left: 28px;
		}
		@media (max-width: em($breakpoint375)) {
			top: 8px;
			left: 20px;
		}
	}

	&__icon {
	}

	&__text {
	}

	&__patch {
		transform: translate3d(-100%, 0, 0);
		&._active {
			position: absolute;
			transform: translate3d(0, 0, 0);
			transition: all 0.3s ease 0s;
			background-color: $color-white;
			width: 407px;
			height: 90px;
			top: 0;
			left: 0;
			z-index: 4;
			@media (max-width: em($breakpoint768)) {
				width: 371px;
				height: 70px;
			}
			@media (max-width: em($breakpoint768)) {
				width: 267px;
				height: 50px;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		row-gap: 16px;
		height: 100vh;
		width: 408px;
		padding: 90px 60px;
		background-color: $color-white;
		outline: 1px solid $color-black;
		
		transform: translate3d(-100%, 0, 0);
		@include anim(.3s, 0s);
		overflow: auto;
		@media (max-width: em($breakpoint768)) {
			padding: 70px 28px;
			width: 372px;
		}
		@media (max-width: em($breakpoint768)) {
			padding: 58px 20px;
			width: 268px;
		}
	}

	&__list {
	}

	&__item {
		& + & {
			margin-top: 16px;
		}
	}

	&__link {
		&:hover {
			color: $color-red;
			@include anim(.3s, 0s);
		}
	}

	&__languages {
		display: flex;
		column-gap: 24px;
	}
	
	&__language-button {
		display: block;
		max-width: 27px;
		max-height: 20px;
		img {
			width: 100%;
			height: auto;
		}
	}

	&__socials {
		column-gap: 26px;
		@media (min-width: em($breakpoint768)) {
			display: none;
		}
		@media (max-width: em($breakpoint375)) {
			column-gap: 16px;
		}
		svg {
			fill: $color-black;
		}
	}
}

.icon-menu {
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	cursor: pointer;
	z-index: 5;
	&__container {
		position: absolute;
		width: 22px;
		height: 19px;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		span {
			position: absolute;
			top: 8.5px;
			left: 0;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: $color-white;
			border-radius: 2px;
			transition: all 0.3s ease 0s;
			&:first-child{top: 0;}
			&:last-child{top: auto; bottom: 0;}
		}
	}

	&._active {
		.icon-menu__container {
			span {
				transform: scale(0);
				background-color: $color-black;
				&:first-child {
					transform: rotate(-45deg); 
					top: 8.5px;
				}
				&:last-child {
					transform: rotate(45deg); 
					bottom: 8.5px;
				}
			}
		}
		
	}
}
