.concerts {
	max-width: 576px;
	@media (max-width: em($breakpoint768)) {
		max-width: 528px;
	}
	@media (max-width: em($breakpoint375)) {
		max-width: 336px;
	}
	&__title {
	}

	&__concert-info-block {
	}

	&__page-change-button {
	}
}

.concert-info {

	&__row {
		display: flex;
		gap: 10px;
		& + & {
			margin-top: 20px;
		}
	}

	&__column {
		
		&:first-child {
			display: flex;
			flex: 0 0 56%;
			@media (max-width: em($breakpoint480)) {
				display: block;
			}
			@media (max-width: em($breakpoint375)) {
				flex: 0 0 47%;
			}
		}
		&:last-child {
			margin-left: auto;
			@media (max-width: em($breakpoint480)) {
				display: flex;
				align-items: center;
			}
		}
	}

	&__date {
	
		flex: 0 0 50%;
		@media (max-width: em($breakpoint375)) {
			margin-bottom: 4px;
		}
		@media (max-width: em($breakpoint768)) {
			flex: 0 0 47%;
		}
	}

	&__location {
		flex: 0 1 auto;
	}

	&__location-city {
	}

	&__location-hall {
	}

	&__ticket-button {
	}
}

.youtube {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content-box {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 66px;
		@include adaptive-value('column-gap', 72, 16, 768, 375, 1);
		@media (max-width: em($breakpoint768)) {
			justify-content: left;
		}
		@media (max-width: em($breakpoint375)) {
			column-gap: 16px;
		}
	}

	&__content-box-photo {
		flex-shrink: 1;
		flex-basis: 334px;
		
		img {
			width: 100%;
			height: auto;
			max-height: 334px;
			border-radius: 10px;
		}
		@media (max-width: em($breakpoint768)) {
			flex-basis: 198px;
		}
		@media (max-width: em($breakpoint375)) {
			flex-basis: 160px;
		}

	}

	&__content-box-info {
		max-width: 300px;
	}

	&__info-title {
		margin-bottom: 1px;
	}

	&__info-text {
	}
}

.merch {
	position: relative;
	
	&__swiper {

	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content-box {
		position: relative;
		z-index: 1;
	}

	&__title {
	}

	&__page-change-button {
	}

	@media (max-width: em($breakpoint768)) {
		.container {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.merch-swiper {
	position: relative;
	margin: 0 -12px !important;
	&__cards {
		display: flex;
		@media (max-width: em($breakpoint768)) {
			margin: 0 0 0 14%;
		}
		@media (max-width: em($breakpoint375)) {
			margin: 0 0 0 26%;
		}
	}

	&__card-block {
		height: auto !important;
		flex: 0 1 25%;
		padding: 0 12px;
		@media (max-width: em($breakpoint768)) {
			flex: 0 1 36%;
		}
		@media (max-width: em($breakpoint375)) {
			flex: 0 1 50%;
		}
		
	}

	&__card {
		height: 100% !important;
		min-height: 399px;
		@include adaptive-value('min-height', 399, 373, 1400, 768, 1);
		@include adaptive-value('min-height', 373, 290, 768, 375, 1);
	}

	&__navigation {
		display: none;
	}

	&__button-prev {
		position: absolute;
		top: 130px !important;
		left: 22px !important;
		margin: 0 !important;
		@media (max-width: em($breakpoint375)) {
			top: 110px !important;
		}
	}
	
	&__button-next {
		position: absolute;
		top: 130px !important;
		right: 22px !important;
		margin: 0 !important;
		@media (max-width: em($breakpoint375)) {
			top: 110px !important;
		}
	}
}

.release {
	
	&__title {
	}

	&__content-box {

	}

	&__swiper {

	}

	&__page-change-button {
	}

	@media (max-width: em($breakpoint768)) {
		.container {
			max-width: none;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.release-swiper {
	position: relative;
	margin: 0 -12px !important;
	@media (max-width: em($breakpoint768)) {
		margin: 0 -12px !important;
	}
	@media (max-width: em($breakpoint375)) {
		margin: 0 -5px !important;
	}
	&__items {
		display: flex;
		@media (max-width: em($breakpoint768)) {
			margin-left: -8.1%;
		}
		@media (max-width: em($breakpoint375)) {
			margin-left: -16%;
		}
	}

	&__releases-item-container {
		padding: 0 12px;
		flex: 0 1 16.6667%;
		height: auto !important;
		@media (max-width: em($breakpoint768)) {
			flex: 0 0 23.3%;
		}
		@media (max-width: em($breakpoint375)) {
			flex: 0 0 44.5%;
			padding: 0 5px;
		}
	}

	&__releases-item {
		max-width: 176px;
		max-height: 176px;
		height: 100%;
		width: 100%;
		@media (max-width: em($breakpoint768)) {
			max-height: 160px;
		}
	}

	&__navigation {
		display: none;
	}

	&__button-prev {
		position: absolute;
		left: 22px !important;
		margin: 0 !important;
		transform: translateY(-50%) rotate(180deg);
	}

	&__button-next {
		position: absolute;
		right: 22px !important;
		margin: 0 !important;
		transform: translateY(-50%);
	}
}

.video {

	&__title {
	}

	&__videos-grid {
		display: grid; 
		grid-template-columns: repeat(6, 1fr); 
		gap: 24px; 
		grid-template-areas: 
			"video1 video1 video1 video2 video2 video2"
			"video3 video3 video4 video4 video5 video5"; 
		@media (max-width: em($breakpoint768)) {
			grid-template-columns: repeat(2, 1fr); 
			grid-template-areas: 
			"video1 video2"
			"video3 video4";
		}
		@media (max-width: em($breakpoint375)) {
			display: flex;
			flex-direction: column;
			row-gap: 16px;
		}
	}

	&__videos-grid-item {
		position: relative;
		padding-top: 56.25%;
		cursor: pointer;
		&:nth-child(1) {
			grid-area: video1;
		}
		&:nth-child(2) {
			grid-area: video2;
		}
		&:nth-child(3) {
			grid-area: video3;
		}
		&:nth-child(4) {
			grid-area: video4;
			@media (max-width: em($breakpoint375)) {
				display: none;
			}
		}
		&:nth-child(5) {
			grid-area: video5;
			@media (max-width: em($breakpoint768)) {
				display: none;
			}
		}
		
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 100;
		border-radius: 10px;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__icon-play {
		display: block;
		max-width: 64px;
		max-height: 64px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		svg {
			width: 100%;
			height: auto;
			cursor: pointer;
		}
	}

	&__videos-grid-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}

	&__page-change-button {
	}
}

.photo {

	&__title {
	}

	&__gallery-grid {
		display: grid; 
		grid-template-columns: repeat(3, 1fr); 
		grid-template-rows: repeat(2, 1fr); 
		gap: 24px; 
		grid-template-areas: 
		"b--1 b--1 s--1"
		"b--1 b--1 s--2"; 
		@media (max-width: em($breakpoint768)) {
			grid-template-columns: repeat(2, 1fr); 
			grid-template-rows: repeat(3, 1fr); 
			grid-template-areas: 
			"b--1 b--1"
			"b--1 b--1"
			"s--1 s--2"; 
		}
		@media (max-width: em($breakpoint375)) {
			display: flex;
			flex-direction: column;
			row-gap: 16px;
		}
		.b--1 { grid-area: b--1; }
		.s--1 { grid-area: s--1; }
		.s--2 { grid-area: s--2; }
	}

	&__gallery-item {
		padding-top: 56.7%;
		&:nth-child(1) {
			max-width: 776px;
		}
		@media (max-width: em($breakpoint768)) {
			padding-top: 30%;
			&:nth-child(1) {
				padding-top: 58%;
			}
		}
		@media (max-width: em($breakpoint375)) {
			padding-top: 59.4%;
			&:nth-child(1) {
				padding-top: 59.4%;
			}
		}
	}

	&__page-change-button {
	}
}

.novelties {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content-box {
		position: relative;
		z-index: 1;
	}

	&__title {
	}

	&__items {
		display: flex;
		@media (max-width: em($breakpoint375)) {
			flex-direction: column;
			row-gap: 24px;
		}
		@media (min-width: em($breakpoint375)) {
			margin: 0 -12px;
		}
	}

	&__item {
		flex: 0 1 25%;
		
		@media (max-width: em($breakpoint768)) {
			flex-basis: 50%;
			&:nth-child(3),
			&:nth-child(4) {
				display: none;
			}
		}
		@media (min-width: em($breakpoint375)) {
			padding: 0 12px;
		}
	}

	&__page-change-button {
	}
}

.instagram {
	&__gallery-container {

	}

	&__gallery {
		display: flex;
		flex-wrap: wrap;
		border-radius: 10px;
		overflow: hidden;
	}

	&__gallery-item {
		flex: 0 1 20%;
	}

	&__gallery-image {
		padding-bottom: 103.9%;
	}
}

.community {
	position: relative;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__content-box {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 50px;

		@media (max-width: em($breakpoint768)) {
			flex-direction: column;
		}
	}

	&__left-side {
		img {
			width: 100%;
			height: auto;
		}
		@media (min-width: em($breakpoint768)) {
			flex: 0 1 611px;
		}
		@media (max-width: em($breakpoint768)) {
			margin-bottom: 16px;
			max-width: 344px;
			width: 100%;
			max-height: 169px;
		}
		@media (max-width: em($breakpoint375)) {
			max-width: 336px;
			max-height: 165px;
		}
	}

	&__right-side {

	}

	&__right-side-title {
		margin-bottom: 10px;
		@media (max-width: em($breakpoint768)) {
			text-align: center;
		}
	}

	&__right-side-text {
		max-width: 297px;
		margin-bottom: 21px;
		@media (max-width: em($breakpoint768)) {
			text-align: center;
			margin: 0 auto 21px;
		}
	}

	&__right-side-socials {
		column-gap: 16px;
		.socials__social {
			max-width: 32px;
			max-height: 32px;
			svg {
				max-width: 32px;
				max-height: 32px;
				fill: $color-black;
			}
		}
		@media (max-width: em($breakpoint768)) {
			justify-content: center;
		}
		
	}
}

.image-block {
	&__bg {
		width: 100%;
		max-height: 430px;
		height: 100%;
		@include adaptive-value("height", 430, 230, 1440, 768, 1);
		@include adaptive-value("height", 230, 112, 768, 375, 1);
		object-fit: cover;
	}
}

.contacts {
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content-box {
		position: relative;
		z-index: 1;
	}

	&__title {
	}

	&__items {
		display: flex;
		justify-content: space-around;
		align-items: start;
		margin: 0 -12px;
		@media (max-width: em($breakpoint992)) {
			flex-wrap: wrap;
		}
	}

	&__item {
		flex: 0 1 25%;
		padding: 0 12px;
		@media (max-width: em($breakpoint992)) {
			flex: 0 1 50%;
			margin-bottom: 24px;
		}
		@media (max-width: em($breakpoint576)) {
			flex: 0 1 100%;
		}
	}
}

.contact-block {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	&__profession {
		margin-bottom: 8px;
	}

	&__name {
		position: relative;
		margin-bottom: 24px;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -12px;
			transform: translateX(-50%);
			width: 36px;
			height: 1px;
			background-color: $color-red;
		}
	}

	&__phone-block {
		margin-bottom: 13px;
	}

	&__phone-block-img {
	}

	&__phone-block-number {
	}

	&__mail-block {
		margin-bottom: 12px;
	}

	&__mail-block-img {
	}

	&__mail-block-text {
	}

	&__social {
		display: block;
		max-width: 32px;
		max-height: 32px;
		svg {
			max-width: 32px;
			max-height: 32px;
			fill: $color-black;
			use {
				width: 100%;
				height: auto;
			}
		}

	}
	
}
