.news {

	&__container {
	}

	&__content-box {
		margin: -16px -12px;
		@media (max-width: em($breakpoint768)) {
			margin: -14px -12px;
		}
		@media (max-width: em($breakpoint480)) {
			margin: -12px 0;
		}
	}

	&__title {
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		flex: 0 1 25%;
		padding: 16px 12px;
		@media (max-width: em($breakpoint768)) {
			flex: 0 1 50%;
			padding: 14px 12px;
		}
		@media (max-width: em($breakpoint480)) {
			flex: 0 1 100%;
			padding: 12px 0;
		}
	}

	&__pagination {
	}
}

.pagination {
	
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 13px;
		
	}

	&__item {
		width: 20px;
		height: 20px;
		text-align: center;
		&:first-child {
			cursor: pointer;
			margin-right: 21px;
		}
		&:last-child {
			transform: rotate(180deg);
			cursor: pointer;
			margin-left: 21px;
		}
		&.active {
			color: $color-gray-200;
		}
	}

	&__link {
		display: block;
		color: inherit;
	}
}

.novelty-container {

	&__novelty {
	}

	&__novelties {
		.novelties__text-header {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}

.novelty {

	&__title {
	}

	&__pub-date {
		@media (max-width: em($breakpoint768)) and (min-width: em($breakpoint375)) {
			margin-bottom: 4px;
		}
	}

	&__article {
	}

	&__article-item {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
	}

	&__socials {
		padding-top: 16px;
		border-top: 1px solid $color-gray-100;
		justify-content: center;
		column-gap: 18px;
		svg {
			fill: $color-black;
		}
	}

	&__image {
		width: 100%;
		padding-top: 58.16%;
		border-radius: 10px;
	}

	&__video {
	}
}
