.releases {

	&__title {
		margin-bottom: 4px;
	}

	&__navigation {
		margin-bottom: 32px;
		@media (max-width: em($breakpoint768)) {
			margin-bottom: 28px;
		}
		@media (max-width: em($breakpoint375)) {
			margin-bottom: 24px;
		}
	}
	
	&__navigation-list {
	}
	
	&__releases-list {
		display: flex;
		flex-wrap: wrap;
		margin: -12px;
		min-height: 900px;
	}

	&__releases-item-container {
		padding: 12px;
		flex: 0 1 25%;
		@media (max-width: em($breakpoint992)) {
			flex-basis: 33.333%;
		}
		@media (max-width: em($breakpoint576)) {
			flex-basis: 50%;
		}
	}

	&__releases-item {
	}
}

.navigation-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px;
	&__item {
		cursor: pointer;
	}
	.nav-active {
		color: $color-black;
	}
}
